# Day 2 Python

In [1]:
# can toggle line numbers on and off with esc+l or with just l when box is blue
groceries = ['banana', 'bread', 'cheese'] #create list of strings in variable called groceries

In [2]:
#print list of strings
print(groceries)

['banana', 'bread', 'cheese']

In [3]:
#create a list of integers called temperature
temperature = [50,65,120]

In [4]:
#print list of integers
print(temperature)

[50, 65, 120]

In [8]:
#to access a particular item in a list we use an index
groceries[0]

'banana'

In [9]:
groceries[1]

'bread'

In [11]:
temperature[2]

120

In [12]:
# we can modify things in list
groceries [1]= 'lettuce'

In [13]:
#bread is no longer in our list
print(groceries)

['banana', 'lettuce', 'cheese']

In [17]:
#to create sets - only shows unique names, no duplicates
names=set()
names.add('James')
names.add('Anna')
names.add('Tyler')
names.add('James')
names.add('Anna')
print(names)

{'Tyler', 'Anna', 'James'}

In [18]:
#another way of doing sets
names={'James','Anna','Tyler','James','Anna'}
print(names)

{'Tyler', 'Anna', 'James'}

In [21]:
#creating floats
a=3.23
b=1e10

3.23
<class 'float'>
10000000000.0
<class 'float'>

In [ ]:
print(a)
print(type(a))
print(b)
print(type(b))

## Dictionary

variable_name = {key : value}

In [22]:
data = {'rainfall_inches' : 1.34, 'temperature_F':80}

In [23]:
print(data)

{'rainfall_inches': 1.34, 'temperature_psi': 80}

In [24]:
type(data)

dict

In [25]:
data = {'rainfall_inches' : [1.34,1.56,4.33], 
        'temperature_F':[80,96,75],
       'pressure_psi' : [10,2,35]}

In [26]:
print(data)

{'rainfall_inches': [1.34, 1.56, 4.33], 'temperature_F': [80, 96, 75], 'pressure_psi': [10, 2, 35]}

In [30]:
#can't print using same syntax as lists
data["1"]

KeyError: '1'

In [44]:
#in order to print we have to use the name of the variable within the dict within ""
print ("This is the list of rainfall in inches:",data["rainfall_inches"])
print ('This is the list of temperature in Farenheit:',data["temperature_F"])
print('This is the list of pressure in PSI:',data['pressure_psi'])

This is the list of rainfall in inches: [1.34, 1.56, 4.33]
This is the list of temperature in Farenheit: [80, 96, 75]
This is the list of pressure in PSI: [10, 2, 35]

In [50]:
data["rainfall_inches"]

[1.34, 1.56, 4.33]

In [51]:
data["rainfall_inches"][0]

1.34

In [52]:
data["rainfall_inches"][1]

1.56

# For loops

A for loop executes the same command through each value in a collection. 

Building blocks of a for loop:

`for` `each item` `in` `variable` `:`  
`(tab)` `do-something`

In [55]:
range(5)

range(0, 5)

In [56]:
numbers=range(5)
numbers

range(0, 5)

In [58]:
for number in range(5):
        print(number)

0
1
2
3
4

In [59]:
groceries

['banana', 'lettuce', 'cheese']

In [60]:
groceries[0:1] #remember in python we start at 0

['banana']

In [61]:
for number in range(5):
    print (number*2)

0
2
4
6
8

In [63]:
total = 0

for number in range(5):
    total = total+number
    print('Loop',total)

print(total)

Loop 0
Loop 1
Loop 3
Loop 6
Loop 10
10

In [64]:
print(data)

{'rainfall_inches': [1.34, 1.56, 4.33], 'temperature_F': [80, 96, 75], 'pressure_psi': [10, 2, 35]}

In [71]:
for key in data:
    print(key)
    print(key[0:4])
    print(key[-4])#start counting from the end

rainfall_inches
rain
c
temperature_F
temp
r
pressure_psi
pres
_

In [82]:
for key in data:
    a_list = key.split('_')#if we wanted to store the list
    print(key.split('_'))#split got the value in key and split the string at the character we provided '_' the split items are then made into a list
    print(' '.join(key.split('_'))) #here we joined the lists with a " " in between

['rainfall', 'inches']
rainfall inches
['temperature', 'F']
temperature F
['pressure', 'psi']
pressure psi

In [84]:
print(a_list)#we only get the last one because a_list gets reassigned after each loop. so we only get the last

['pressure', 'psi']

In [85]:
original="waterfall"

In [95]:
num=-1
#goal is to reverse this word using a loop
for char in original:
    print(original[num])
    num=num-1

l
l
a
f
r
e
t
a
w

In [101]:
result=''

for char in original:
    print('Getting char',char)
    result= char + result
    print('Result now is', result)
    print("end of loop")
    print("")
    
print(result)

Getting char w
Result now is w
end of loop

Getting char a
Result now is aw
end of loop

Getting char t
Result now is taw
end of loop

Getting char e
Result now is etaw
end of loop

Getting char r
Result now is retaw
end of loop

Getting char f
Result now is fretaw
end of loop

Getting char a
Result now is afretaw
end of loop

Getting char l
Result now is lafretaw
end of loop

Getting char l
Result now is llafretaw
end of loop

llafretaw

In [103]:
original [::-1]

'llafretaw'